@use './functions' as *;
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colors */

    // primary
    --orange-500: #fb7413;

    // neutral
    --pure-white: #ffffff;
    --grey-500: #959eac;
    --grey-900: #252d37;
    --grey-950: #121417;

    // naming colors
    --Ecstasy: var(--orange-500);
    --White: var(--pure-white);
    --Gray-Chateau: var(--grey-500);
    --Ebony-Clay: var(--grey-900);
    --Woodsmoke: var(--grey-950);

    /* Typography */

    // font-family
    --ff: "Overpass", sans-serif;

    // font-size
    --fs-body: #{rem(15)};

    // font-weight
    --fs-regular: 400;
    --fs-bold: 700;
}